@model Workflow.Models.Ptask

@{
    ViewData["Title"] = "Create";
}

<h4>New task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label">Task name</label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                

                <select asp-for="Priority" class="form-control">
                    <option value="">Choose priority</option>
                    <option value="low">Low</option>
                    <option value="normal">Normal</option>
                    <option value="high">High</option>
                </select>

                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDeadline" class="control-label">Deadline</label>
               

                <input type="date" asp-for="TaskDeadline" class="form-control" />

                <span asp-validation-for="TaskDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskProjectId" hidden class="control-label"></label>
                <input type="hidden" asp-for="TaskProjectId" value="@ViewBag.project.ProjectId" />
            </div>
            <div class="form-group">
                <label asp-for="TaskListId" class="control-label">Task list</label>
                <select asp-for="TaskListId" class="form-control">
                    <option>Choose a task list</option>
                    @{ 
                        foreach (TaskList t in ViewBag.tasklist)
                        {
                            <option value="@t.TaskListId">@t.ListName</option>
                        }
                    }
                </select>
                <a href="/TaskList/Create">New task list</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
