@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top:50px">Welcome to</h1>
    <iframe id="iFrameDash" src="/sweat.html"  frameborder="0"></iframe>
    <h3> <i> We sweat so you don't have to!</i></h3>
</div>