@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>Warning: development with Visual Studio can cause suicidal thoughts  </p>
</div>